html {
    font-size: 10pt;
}

.meeting {
    color: #333;
    display: flex;
    font-size: 1em;
    border-bottom: 1px solid #EEE;
    text-decoration: none;
}

.meeting__motive {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    flex: 1;
}


.meeting__from {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 70px;
}


.meeting__from__day {
    font-size: 2em;
}


.meeting__from__month {
    text-transform: uppercase;
}


.meeting__to {
    border-left: 1px solid #EEE;
    padding: 0.5rem 1rem;
}
