body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
}


ul {
    padding: 0 0 0 2em;
}


#root {
    height: 100%;
}


.wrapper {
    height: 100%;
}


.label {
    font-weight: bold;
}
